body,html{
    height: 100vh;
    width: 100vw;
}
a{
    cursor: pointer;
}

#blanket{
    display: none;
    height: 100%;
    width:100%;
    background: gainsboro;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.5;
}


#modalDiv{
    opacity: 1;
    position: relative;
    width: 500px;
    height: 500px;
    top: calc(50vh - 250px);
    left: calc(50vw - 250px);
    z-index: 1001;
}